<h1>Coach's Response<br> </h1>

  <p>"<%= @question %>"<br><br>- You</p>
  <p>"<%= @answer %>"<br><br>- Your Coach</p>

  <button class="btn btn-success">
    <%= link_to "Ask again", ask_path %>
  </button>
